html,body {
    margin: 0;
    height: 100%;
    background-color:rgb(127, 202, 165);
}


#header {
    background-color:rgb(54, 150, 102);
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    /* width:100px; */
    float:left;
    padding:5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:rgb(54, 150, 102);
    color:white;
    width: 100%;
    justify-content: center;
    margin-bottom: 0;
    text-align:center;
    padding:5px; 
    display: flex
}

img {
    border-radius: 50%;
    max-width: 25%;
    height: auto;
  }