<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="assests/css/sign-up.css">
    <title>JADE/SIGN_UP</title>
</head>

<body>

    <div id="login-box">
        <div class="left-box">
            <h1> Sign Up</h1>
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="password" id="passWordInput" placeholder="Password" />
            <a class=“waves-effect waves-light btn modal-trigger” href=“#modal1">
                <input type=“submit” name=“signop-button” value=“sign up” />
            </a>
            <input type="submit" name="signop-button" id="signUpButton" value="sign up" />
        </div>
        <div class="right-box">
            <span class="signinwith">Sign in with<br />Social Network

            </span>

            <button class="social facebook">login in with facebook</button>
            <button class="social twitter">login in with twitter</button>
            <button class="social google ">login in with google+</button>
        </div>
        <div class="or">

            <p>Or log in <a href="./login-form.html">here</a></p>
        </div>

    </div>
</body>
<script src="./assests/javascript/signUp.js"></script>

</html>