<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  ​
  <!-- Compiled and minified JavaScript -->

  <link rel="stylesheet" type="text/css" href="./assests/css/sign-up.css" />
  <title>JADE/SIGN_UP</title>
</head>

<body>

  <div id="login-box">
    <div class="left-box">
      <h1> Sign Up</h1>
      <form action="/api/signup" method="POST">
        <input type="email" name="email" id="signUpInput" placeholder="Email">
        <input type="password" name="password" id="passwordInput" placeholder="Password">
        <button type="submit" class="waves-effect waves-light btn modal-trigger"> Sign Up</button>
        </a>
      </form>
      <p>
        Already have an account? Sign In <a href="/login" style="color: #039be5">Here</a>
    </div>
    <div class="right-box">
    </div>

  </div>

  <footer>
    <div class="container">
      Copyright &copy; Jade Space 2019
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- <script src="./assests/javascript/sign-up.js"></script> -->
  <!-- <script src="./assests/javascript/signUp.js"></script> -->
</body>

</html>