<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jade Feed</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./assests/css/feed.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <!-- Nav Bar-->
        <nav class="navbar navbar-expand-lg bg-success text-uppercase fixed-top">
          <a class="navbar-brand js-scroll-trigger navBarText" href="/">JADE SPACE</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger navBarText" href="/">Home</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger navBarText" href="/logout">Log Out</a>
              </li>
            </ul>

          </div>
      </div>
    </div>
    </nav>
    <!-- Jumbotron -->
    <div class="row">
      <div class="col s12">
        <div class="jumbotron jumbotron-fluid feedJumbo">
          <!-- <div class="container"> -->
          <h1 class="display-4">Welcome to Jade Space</h1>
          <p class="lead">Show us your Art!</p>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <!-- Modal for uploading pictures -->
    <div class="row">
      <div class="col s6">
        <div class="modalContainer ">
          <button data-target="modal1" class="btn modal-trigger">Upload Picture</button>
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content center-align ">
              <h4>Upload Your Picture!</h4>
              <p>Make sure to include your email so people can contact your if they are interested!</p>
              <br>
              <br>
              <div class="row">
                <div class='col s12 '>
                  <form action="/api/upload" method="POST" enctype="multipart/form-data">
                    <!-- Title-->
                    <h5 class="left-align">Put title for item:</h5>

                    <input type="text" class="form-control" placeholder="Username" aria-label="Title"
                      aria-describedby="basic-addon1" name="userTitle">


                    <!-- Price Tag -->
                    <h5 class="left-align">Price for Item:</h5>
                    <input type="number" name="userNumber" class="form-control mb-4"
                      aria-label="Dollar amount (with dot and two decimal places)" placeholder="Insert price here...">

                    <!-- User Content -->
                    <h5 class="left-align">Insert Message: ( Don't forget your email! )</h5>
                    <div class="input-group mb-4 ">
                      <div class="input-group-prepend ">
                        <span class="input-group-text">Message:</span>
                      </div>
                      <textarea class="form-control userMessage" name="userContent" aria-label="With textarea"
                        placeholder="Write something here.."></textarea>
                    </div>

                    <!-- file Upload -->
                    <h5 class="left-align">Upload file:</h5>
                    <div class="input-group mb-4">
                      <div class="custom-file">

                        <input type="file" class="custom-file-input image-upload" accept="images/*"
                          id="inputGroupFile02 image-upload" name="element2">
                        <label class="custom-file-label" for="inputGroupFile02"
                          aria-describedby="inputGroupFileAddon02">Choose file</label>
                      </div>
                    </div>
                    <button type="submit" id="image-upload" class="btn btn-info">Upload Post</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Display pictures here -->
    <div class=' row pictureDisplay'>

    </div>



    <!-- Footer -->
    <footer>
      Copyright &copy; Jade Space 2019
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='./assests/javascript/userFeed.js'></script>
</body>

</html>