body {
  background-color: rgb(127, 202, 165);
}
.navBarText {
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: rgb(54, 150, 102);
  color: white;
  justify-content: center;
  text-align: center;
  padding: 15px;
}
.feedJumbo {
  margin-top: 7%;
  background-color: rgba(84, 110, 122, 0.8);
  color: whitesmoke;
  text-align: center;
}

.uploadFeed {
  background-color: rgba(84, 110, 122, 0.8);
  color: whitesmoke;
  border-color: whitesmoke;
}
.userMessage {
  height: 10vh;
}
.cardImg {
  height: 200px;
}
.userCard {
  width: 18rem;
  height: 300px;
  margin-right: 5%;
  margin-left: 4%;
  margin-bottom: 5%;
}
