html {
    background-color: rgb(52, 219, 163)
}

#projects {
    color: rgb(103, 182, 103);
}

#contact-b {
    background-color: rgb(103, 182, 103);
    color: white;
}
#navbar {
    text-align: center;
    background-color: rgb(103, 182, 103);
}

#contact {
    color: white;
}

#button {
    background-color: rgb(103, 182, 103);
}

#footer {
    background-color: rgb(103, 182, 103);
    color: white;
    text-align: center;
}

.w3-top {
    background-color: rgb(103, 182, 103);
    color: white;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }