html {
   background-color: rgb(52, 219, 163)
}
 
#about {
   color: green;
}
 
#next-btn {
   background-color: rgb(52, 133, 52);
}
 
#projects {
   color: rgb(103, 182, 103);
}
 
#contact-b {
   background-color: rgb(103, 182, 103);
   color: white;
}
#navbar {
   text-align: center;
   background-color: rgb(103, 182, 103);
}
 
#contact {
   color: rgb(103, 182, 103);
   padding: 2px;
}
 
#button {
   background-color: rgb(103, 182, 103);
}
 
.w3-top {
   background-color: rgb(103, 182, 103);
   color: white;
}
 
/* this is for the carrosle in images */
 
.MultiCarousel {
   float: left;
   overflow: hidden;
   padding: 15px; width: 100%;
   position:relative;
}
 
.MultiCarousel .MultiCarousel-inner {
   transition: 1s ease all;
   float: left;
}
 
.MultiCarousel .MultiCarousel-inner .item {
float: left;
}
 
.MultiCarousel .MultiCarousel-inner .item > div {
   text-align: center;
   padding:10px; margin:10px;
   background: rgb(103, 182, 103); color: #666;
}
 
.MultiCarousel
.leftLst,
.MultiCarousel
.rightLst {
   position:absolute;
   border-radius:50%;
   top:calc(50% - 20px);
}
 
.MultiCarousel,
.leftLst {
   left:0;
}
 
.MultiCarousel .rightLst {
   right:0;
}
  
.MultiCarousel
.leftLst.over,
.MultiCarousel
.rightLst.over {
   pointer-events: none;
   background: #ccc;
}
 
.modal-body {
   background-color: rgb(103, 182, 103);
}
 
.modal-header {
   color: rgb(103, 182, 103);
}
 
/* main nav */
 
#mainNav {
   padding-top: 1rem;
   padding-bottom: 1rem;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight: 700;
 }
  #mainNav .navbar-brand {
   color: #fff;
 }
  #mainNav .navbar-nav {
   margin-top: 1rem;
 }
  #mainNav .navbar-nav li.nav-item a.nav-link {
   color: #fff;
 }
  #mainNav .navbar-nav li.nav-item a.nav-link:hover {
   color: #1abc9c;
 }
  #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
   color: #fff;
 }
  #mainNav .navbar-nav li.nav-item a.nav-link.active {
   color: #1abc9c;
 }
  #mainNav .navbar-toggler {
   font-size: 80%;
   padding: 0.8rem;
 }
  @media (min-width: 992px) {
   #mainNav {
     padding-top: 1.5rem;
     padding-bottom: 1.5rem;
     -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
     transition: padding-top 0.3s, padding-bottom 0.3s;
   }
   #mainNav .navbar-brand {
     font-size: 1.75em;
     -webkit-transition: font-size 0.3s;
     transition: font-size 0.3s;
   }
   #mainNav .navbar-nav {
     margin-top: 0;
   }
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
     color: #fff;
     background: #1abc9c;
   }
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
     color: #fff;
     background: #1abc9c;
   }
   #mainNav.navbar-shrink {
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
   }
   #mainNav.navbar-shrink .navbar-brand {
     font-size: 1.5em;
   }
 }
 .card-footer {
   padding: 0.75rem 1.25rem;
   background-color: rgba(0, 0, 0, 0.03);
   border-top: 0.125rem solid rgba(0, 0, 0, 0.125);
 }
  .card-footer:last-child {
   border-radius: 0 0 calc(0.5rem - 0.125rem) calc(0.5rem - 0.125rem);
 }
 
 #footer {
     position:absolute;
     bottom:0;
     width:100%;
     height:60px;   /* Height of the footer */
     background-color: rgb(103, 182, 103);
 }
 
 /* header */
 
  header {
   position: relative;
   background-color: black;
   height: 75vh;
   min-height: 25rem;
   width: 100%;
   overflow: hidden;
 }
  header video {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: 0;
   -ms-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
 }
  header .container {
   position: relative;
   z-index: 2;
 }
  header .overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: 0.5;
   z-index: 1;
 }
  @media (pointer: coarse) and (hover: none) {
   header {
     background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
   }
   header video {
     display: none;
   }
 }
 
 /* about section */
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
  @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
/* about section */
 
 
 
 
.site-section {
 padding: 10em 0; }
 
@media (max-width: 991.98px) {
.site-section {
 padding: 4em 0; }
}
 
.section-title {
 font-size: 3rem;
 color: whitesmoke;
 margin-bottom: 1.8rem;
 font-weight: 900;
 max-width: 450px; }
 
@media (max-width: 991.98px) {
.section-title {
 font-size: 2.5rem; } }
 
.process, .service {
 position: relative; }
 
.process .number,
.service .number {
   position: absolute;
   top: 50px;
   left: -30px;
   line-height: 0;
   z-index: -1;
   font-size: 10rem;
   color: whitesmoke;
   font-weight: 900; }
 
.process h3, .service h3 {
   font-size: 1.5rem;
   color: rgb(103, 182, 103);
   font-weight: 700;
   margin-bottom: 1.5rem; }
 
 
.process {
 text-align: center;
 padding: 30px;
 border: 1px solid #d9d9d9; }
 
 #pp {
   color: white;
   font-size: larger;
 }
 
 .parallax {
   /* The image used */
   background-image: url("https://fineartconnoisseur.com/wp-content/uploads/sites/2/2019/02/fine-art-acrylici-paintings-Morton-Kaish_Cherry_Buds_1998.jpg");
    /* Set a specific height */
   min-height: 500px;
    /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
 
