body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color:rgb(127, 202, 165, 0.5);
    color: #777;
    font-family:sans-serif;
    font-weight: 300; 
}

#login-box {
    position: relative;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left-box {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: rgb(54, 150, 102);
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #116e28;
    transition: 0.2s ease; 
}

.right-box {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-image: url(../images/green-background.jpg);
    background-size: cover;
    background-position: center;
}

/* .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    background: #efefef;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0. 0, 0.6);
    line-height: 40px;
    text-align: center;
} */

.right-box .signinwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

a {
    color: rgba(245, 245, 245, 0.918);
}

button.social {
    padding: 5px;
    font-size: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
    height: 100%;
    border: none;
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook 
{
    background: rgb(15, 78, 160);
    
}
.signinwith{
    margin-top: 30%;

}
.twitter {
    background: rgb(17, 143, 216);
}

.google {
    background: rgba(214, 68, 10, 0.938);
}

footer {
  position: fixed;
  bottom: 0; 
  width: 100%;
  background-color:rgb(54, 150, 102);
  color:white;
  justify-content: center;
  text-align: center;
  padding: 15px; 
}