/* GENERAL PAGE CONTENT */
/* Do NOT try to combine html and body elements. This will prevent sticky footer from working. - EMMA */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:rgb(127, 202, 165);
}

#user-av-thumb {
  height: 100px;
  width: 100px;
}

/* #feed-banner {

} */

.card { 
  margin-bottom: 50px;
}

.card-body {
  height: 182px;
  padding-right: 800px;
  justify-content: center;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem; 
  width: 100%;
  background-color:rgb(54, 150, 102);
  color:white;
  justify-content: center;
  text-align: center;
  padding: 5px; 
}